<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="edu.duke.archives.migrator.plugins.adapters.jhove" version="0.1.0">
    <requires>
        <import plugin-id="edu.duke.archives.migrator.plugins.core"/>
    </requires>
    <runtime>
        <library id="core" path="classes/" type="code" />
        <library id="jhove" path="jhove/jhove.jar" type="code" />
        <library id="jhove-handler" path="jhove/jhove-handler.jar" type="code" />
        <library id="jhove-module" path="jhove/jhove-module.jar" type="code" />
        <library id="jaxen-core" path="lib/jaxen-core.jar" type="code" />
        <library id="jaxen-dom" path="lib/jaxen-dom.jar" type="code" />
        <library id="jdom" path="lib/jdom.jar" type="code" />
        <library id="saxpath" path="lib/saxpath.jar" type="code" />
        <library id="jhove-conf" path="jhove/jhove.conf" type="resources" />
    </runtime>
    <extension plugin-id="edu.duke.archives.migrator.plugins.core" point-id="Adapter" id="jhove">
		<parameter id="class" value="edu.duke.archives.migrator.plugins.adapters.JhoveAdapter"/>
		<parameter id="name" value="Jhove"/>
        <parameter id="description" value="An adapter for Jhove."/>
	</extension>
</plugin>