<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="edu.duke.archives.migrator.plugins.managers.dukepremis" version="0.1.0">
    <requires>
        <import plugin-id="edu.duke.archives.migrator.plugins.core"/>
    </requires>
    <runtime>
        <library id="core" path="classes/" type="code">
            <export prefix="*" />
        </library>
        <library id="jaxen-core" path="lib/jaxen-core.jar" type="code" />
        <library id="jaxen-dom" path="lib/jaxen-dom.jar" type="code" />
        <library id="jdom" path="lib/jdom.jar" type="code" />
        <library id="saxpath" path="lib/saxpath.jar" type="code" />
    </runtime>
    <extension plugin-id="edu.duke.archives.migrator.plugins.core" point-id="MetadataManager" id="dukePremis">
		<parameter id="class" value="edu.duke.archives.migrator.plugins.managers.PremisManager"/>
		<parameter id="name" value="Duke PREMIS"/>
        <parameter id="description" value="A metadata manager to create PREMIS metadata from Jhove and Droid."/>
	</extension>
</plugin>